workflows/json/AwesomeVacum.json
{
  "name": "AwesomeVacum",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -320
      ],
      "id": "36cc487e-fe21-4c31-999b-f8e087febb12",
      "name": "Hoover"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_user }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo }}"
        },
        "filePath": "readme.md",
        "additionalParameters": {
          "reference": "update"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -96,
        -320
      ],
      "id": "945c2c62-0f78-4f8f-afd4-710b4e761f05",
      "name": "Get Awesome List",
      "webhookId": "60e7e467-c996-420e-b301-38544ea934f5",
      "credentials": {
        "githubApi": {
          "id": "5EpFBZdEObP25ySQ",
          "name": "GitHub Capp3"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        128,
        -320
      ],
      "id": "8e833e7c-c992-4045-961d-334b2678bd88",
      "name": "Extract Markdown"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.data }}",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        352,
        -320
      ],
      "id": "c1cca4a5-ebc0-4751-8241-21909aede1d5",
      "name": "Convert to HTML"
    },
    {
      "parameters": {
        "content": "**Github Info**",
        "height": 272,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -432
      ],
      "typeVersion": 1,
      "id": "fc83286f-5179-47c1-9f34-b9d0abeaa8b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03591f59-0500-4342-ae95-2a32d61b84fa",
              "name": "github_user",
              "value": "Capp3",
              "type": "string"
            },
            {
              "id": "2e53bed9-7931-448d-a112-ed1822b14742",
              "name": "github_repo",
              "value": "awesome-production",
              "type": "string"
            },
            {
              "id": "c41f352f-80af-41d7-b9a0-d2fb64102031",
              "name": "airtable_table_url",
              "value": "https://airtable.com/appySl3TzTMi6RRRQ/tblj4UCkNQEY4OnWa/viwhBXuZWqMacHGSi",
              "type": "string"
            },
            {
              "id": "2eb5a0ca-9fdb-46c1-b9f0-94ec7ce596b9",
              "name": "airtable_base_url",
              "value": "https://airtable.com/appySl3TzTMi6RRRQ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -320
      ],
      "id": "754ce38e-a1e8-4ef1-a0ba-a3a41f4344fd",
      "name": "Asset Info"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\nfrom bs4 import BeautifulSoup\nfrom datetime import datetime\n\n# Get HTML content from previous node\ninput_items = _input.all()\nhtml_content = input_items[0]['json']['content']\n\n# Parse HTML\nsoup = BeautifulSoup(html_content, 'html.parser')\n\nvendors = []\ncurrent_main_category = None\ncurrent_subcategory = None\n\n# Process each element in the HTML\nfor element in soup.find_all(['h3', 'h4', 'li']):\n    if element.name == 'h3':\n        # Main category\n        current_main_category = element.get_text().strip()\n        current_subcategory = None\n    \n    elif element.name == 'h4':\n        # Subcategory\n        current_subcategory = element.get_text().strip()\n    \n    elif element.name == 'li' and element.find('a'):\n        # Vendor entry\n        link = element.find('a')\n        vendor_name = link.get_text().strip()\n        vendor_url = link.get('href', '')\n        \n        # Skip table of contents entries (markdown anchors start with #)\n        if vendor_url.startswith('#'):\n            continue\n        \n        # Skip entries without valid URLs (must contain http:// or https://)\n        if not vendor_url or not (vendor_url.startswith('http://') or vendor_url.startswith('https://')):\n            continue\n        \n        # Extract description (text after the link)\n        description = element.get_text().strip()\n        if '–' in description:\n            description = description.split('–', 1)[1].strip()\n        else:\n            description = ''\n        \n        # Clean up vendor name (remove brackets if present)\n        if '[' in vendor_name and ']' in vendor_name:\n            vendor_name = vendor_name.split('[')[1].split(']')[0].strip()\n        \n        # Create vendor record\n        vendor = {\n            'vendor_name': vendor_name,\n            'url': vendor_url,\n            'description': description,\n            'category': current_main_category or 'Uncategorized',\n            'subcategory': current_subcategory or 'General',\n            'status': 'active',\n            'date_added': datetime.now().isoformat(),\n            'created_by': 'import'\n        }\n        \n        vendors.append(vendor)\n\n# Return all vendors as separate items for n8n\nreturn [{'json': vendor} for vendor in vendors]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -320
      ],
      "id": "d3f1e096-f820-461a-bd22-c4a79baf7c83",
      "name": "Create Entries",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pxtd3z9ygd9zprn",
        "table": "md5mzz6b4mvjs1p",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "vendor_name",
              "fieldValue": "={{ $json.vendor_name }}"
            },
            {
              "fieldName": "=url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldName": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldName": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldName": "subcategory",
              "fieldValue": "={{ $json.subcategory }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldName": "date_added",
              "fieldValue": "={{ $json.date_added }}"
            },
            {
              "fieldName": "creation_by",
              "fieldValue": "={{ $json.created_by }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1504,
        -512
      ],
      "id": "fd3831a6-59e6-43d3-84b6-516ecdacd31a",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "UqhWT7R7AOzOR2rH",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ee44545-6465-42c8-a25d-9653e0f5a8c9",
              "leftValue": "={{ $json.url }}",
              "rightValue": "={{ $('Create Entries').item.json.url }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        -320
      ],
      "id": "af4f584c-6473-4bb9-b6ad-3e57d69c159a",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pxtd3z9ygd9zprn",
        "table": "md5mzz6b4mvjs1p",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        816,
        -320
      ],
      "id": "b8151076-c93a-4e8d-a914-72cbf5504a56",
      "name": "Get many rows",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "UqhWT7R7AOzOR2rH",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Hoover": {
      "main": [
        [
          {
            "node": "Asset Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Awesome List": {
      "main": [
        [
          {
            "node": "Extract Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Markdown": {
      "main": [
        [
          {
            "node": "Convert to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML": {
      "main": [
        [
          {
            "node": "Create Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Info": {
      "main": [
        [
          {
            "node": "Get Awesome List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Entries": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "412cb4f5-19c0-47a4-b2eb-7d784f8ab6bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c23fdf105aaacd4635cc3179c8ec8a79b1339d581cd2a8e15367d996124a9e3"
  },
  "id": "qsd8PMJ94trsDwc6",
  "tags": [
    {
      "updatedAt": "2025-09-25T14:58:39.763Z",
      "createdAt": "2025-09-25T14:58:39.763Z",
      "id": "lzpPQmzNf8eVoBaI",
      "name": "Awesome"
    }
  ]
}